.header-link {
    font-family: "Roboto";
    color: antiquewhite !important;
}

@media (min-width: 992px){
    .header-link {
        font-family: "Roboto", "Helvetica Neue";
        color: antiquewhite !important;
    }
}